# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Temporary files
*.log
*.tmp
*.temp
